.form-group
{
    font-family: 'Inconsolata', monospace;
}

body
{
    font-family: 'Raleway', sans-serif;
}

#start-btn
{
    width: 40%;
} 
#camera
{
    width:400px;
    height: 400px;
    border:3px solid rgb(10, 248, 30);
}
#logoimg
{
    width: 100px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
    border:3px solid rgb(119, 106, 238);
}
